@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translate(-40px, 40px); /* left + bottom */
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.animate-fadeSlide {
  animation: fadeSlide 1s ease-out forwards;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-rotate360 {
  animation: rotate360 20s linear infinite;
}

